<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124080172314-0up2nsv9m6emcukd98oh5j23ht4qhs29.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124080172314-0up2nsv9m6emcukd98oh5j23ht4qhs29</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>124080172314-88kltp9952mna1maesctltkeaicb5sah.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBIh4pO_x_nZFwybU88ps7oqD6jHMECIAs</string>
	<key>GCM_SENDER_ID</key>
	<string>124080172314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.armageddon.privateGallery</string>
	<key>PROJECT_ID</key>
	<string>cloud-storage-282f4</string>
	<key>STORAGE_BUCKET</key>
	<string>cloud-storage-282f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124080172314:ios:582810f5fb86bf224710a3</string>
</dict>
</plist>